<div class="menu"></div>
<script>
    (function () {
        var p_menu = new Pithy.p_Menu({
            menu: [
                {
                    title: '20170227',
                    icon: 'icon-hearto',
                    href: '/dailyPractice/20170227'
                }
            ]
        });
        p_menu.build('.menu');
    })();
</script>