<%include ../common/header.ejs %>
<div class="main">
    <div class="menu"></div>
    <div class="content">
        <div class="p-Breadcrumb">乱</div>
        <div class="p-content">
        </div>
    </div>
</div>
<div class="pop">
    <div class="content1"></div>
</div>
<script>
    (function () {
        var p_menu = new Pithy.p_Menu({
            menu: [
                {
                    title: '乱',
                    icon: 'icon-hearto',
                    href: '/knowledgePoints/chaos'
                },
                {
                    title: '高级',
                    icon: 'icon-hearto',
                    href: '/knowledgePoints/advanced'
                },
                {
                    title: 'dom',
                    icon: 'icon-hearto',
                    href: '/knowledgePoints/dom'
                }
            ]
        });
        p_menu.build('.menu');

        //使用md内容
        $.get("/知识点/乱/readme.md", function (response, status, xhr) {
            $(".p-content").html(marked(response));
        });
    })();
</script>
</body>
<%include ../common/footer.ejs %>