<%include ../common/header.ejs %>

<link rel="stylesheet" href="/Carousel/jquery.zySlide.css" />
<div class="main">
    <%include common/left.ejs %>
    <div class="content">
        <div class="content-title">组件-跑马灯</div>
        <div class="p-Carousel-Wrap" style="padding-top: 20px;width: 100%;height: 100%;"></div>
    </div>
</div>
<script>
    (function () {
        $('.p-Carousel-Wrap').p_Carousel({speed: 500}).css('border', '0px solid blue');
    })();
</script>
</body>
<%include ../common/footer.ejs %>