<%include ../common/header.ejs %>
<div class="main">
    <%include common/left.ejs %>
    <div class="content">
        <div class="content-title">组件-标签页</div>
        <div id="panel" style=" position: absolute;
            background-color: white;
            max-height: 90%;
            overflow-y: auto;
            z-index: 9999;
            top: 178px;
            right: 10px;
            width: 280px;"></div>
        <div class="content-area" id="content-area">

        </div>
    </div>
</div>
<script>
    (function () {

    })();
</script>
</body>
<%include ../common/footer.ejs %>