<div class="menu"></div>
<script>
    (function () {
        var p_menu = new Pithy.p_Menu({
            menu: [
                {
                    title: 'Carousel',
                    icon: 'icon-hearto',
                    href: '/component/index'
                },
                {
                    title: 'Tabs',
                    icon: 'icon-hearto',
                    href: '/component/tabs'
                }
            ]
        });
        p_menu.build('.menu');
    })();
</script>